/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Joti+One&family=Poller+One&display=swap');

body {
	text-align: center;
	background-color: #bff0ff;
}

/* no h1s in index.html, but they exist in the other two pages */
h1 {
	font-family: 'Joti One', cursive;
	font-size: 5em;
}

#bodydiv {
	background-color: white;
	width: 60vw;
	height: 50vh;
	margin: auto;
	font-family: 'Architects Daughter', cursive;
	font-size: 1em;
	border: 5px solid black;
}

#goBack {
	font-family: 'Joti One', cursive;
	text-decoration: none;
	color: #476686;
	font-size: 2em;
}

svg {
	width: 95vw;
	height: calc(width * 550 / 899);
	max-height: 95vh;
	max-width: calc(max-height * 899 / 550);
}

/* Disable text highlighting on SVG elements
from stack overflow answer https://stackoverflow.com/a/50084247 */
text {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* according to https://caniuse.com/?search=user-select 96.92% of users'
browsers support user-select with prefixes, but only 75% support it unprefixed.
That 25% includes up-to-date safari and safari on iOS, and since it's likely
someone will try to use this on an iPad, we should try to support safari on iOS.
*/

/* Try It Yourself logo text */
.try_it_yourself { font-family: 'Joti One', cursive; }
.try { font-size: 66px; fill: #0063f9; }
.it { font-size: 48px; fill: #6d00f9; }
.yourself { font-size: 33px; fill: #f90077; }

/* Label text */
.label { font-family: 'Poller One', cursive; font-size: 22px; }

/* Button text */
.button {
	font-family: 'Poller One', cursive; font-size: 25px; fill: white;
}
.smaller_button {
	fill: black;
	font-size: 8px;
}
.medium_button {
	font-size: 12px;
}
.button_outlined {
	stroke: black;
}

/* Value text */
.value { font-family: 'Architects Daughter', cursive; font-size: 22px; }

/* Footer links text */
.footer_link {
	font-family: 'Joti One', cursive;
	font-size: 13px;
	fill: #467786;
}