.container {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	grid-gap: 20px;
	height: 100vh;
	grid-template-columns: 10fr 10fr 15fr 10fr 10fr 4fr 1fr 10fr 15fr 10fr 5fr 5fr 10fr 10fr;
	grid-template-areas:
	  ". . . . . BaseIncreaseButton . . . . SticksIncreaseRapidButton SticksIncreaseSlowButton . ."
	  ". ClearAllButton ClearSelectedButton . Based BaseLabel . BaseLock . AddSticksButton StickCounter StickCounter AddStickslabel ."
	  ". . . . . BaseDecreaseButton . . . . SticksDecreaseRapidButton SticksDecreaseSlowButton . ."
	  "GroupButton canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas UngroupButton";
}

html, body {
	display: flex;
    margin: 0;
    height: 100%;
    background-color: aqua;
    text-align: center;
}

GroupButton {
	height: 5em;
	line-height: 5em;
	grid-area: GroupButton;
    font-size: 2vh;
	color: white;
	border-style: solid;
	border-collapse: gray;
	border-width: 3px;
	border-radius: 5px;
	vertical-align: middle;
	background-color: lime;
}	

UngroupButton {
	height: 5em;
	line-height: 5em;
	grid-area: UngroupButton;
    font-size: 2vh;
	color: white;
	border-style: solid;
	border-collapse: gray;
	border-width: 3px;
	border-radius: 5px;
	vertical-align: middle;
	background-color: salmon;
}	

BaseLock {
	height: 2em;
	line-height: 2em;
	grid-area: BaseLock;
    font-size: 2vh;
	border-style: solid;
	border-collapse: gray;
	border-width: 3px;
	border-radius: 5px;
	vertical-align: center;
	background-color: salmon;
}

Based {
	height: 2em;
	line-height: 2em;
	grid-area: Based;
    font-size: 2vh;
	vertical-align: center;
	text-align: right;
}


BaseLabel {
	height: 2em;
	line-height: 2em;
	grid-area: BaseLabel;
    font-size: 2vh;
}

BaseIncreaseButton {
	height: 1em;
	line-height: 1em;
	grid-area: BaseIncreaseButton;
	font-size: 2vh;
}

BaseDecreaseButton {
	height: 1em;
	line-height: 1em;
	grid-area: BaseDecreaseButton;
	font-size: 2vh;
}

SticksIncreaseRapidButton {
	height: 1em;
	line-height: 1em;
	grid-area: SticksIncreaseRapidButton;
	font-size: 2vh;
	text-align: center;
	vertical-align: center;
	color: white;
}

SticksIncreaseSlowButton {
	height: 1em;
	line-height: 1em;
	grid-area: SticksIncreaseSlowButton;
	font-size: 2vh;
	text-align: center;
	vertical-align: center;
	color: white;
}

ClearAllButton {
	height: 2em;
	line-height: 2em;
	grid-area: ClearAllButton;
	font-size: 2vh;
    font-size: 2vh;
	border-style: solid;
	border-collapse: gray;
	border-width: 3px;
	border-radius: 5px;
	vertical-align: center;
	background-color: red;
}

ClearSelectedButton {
	height: 2em;
	line-height: 2em;
	grid-area: ClearSelectedButton;
	font-size: 2vh;
    font-size: 2vh;
	border-style: solid;
	border-collapse: gray;
	border-width: 3px;
	border-radius: 5px;
	vertical-align: middle;
	background-color: rebeccapurple;
	color: white;
}

AddSticksButton {
	height: 2em;
	line-height: 2em;
	grid-area: AddSticksButton;
    font-size: 2vh;
	border-style: solid;
	border-collapse: gray;
	border-width: 3px;
	border-radius: 5px;
	vertical-align: center;
	background-color: lime;
	color: white;
}

StickCounter {
	height: 2em;
	line-height: 2em;
	grid-area: StickCounter;
    font-size: 2vh;
	font-style: bold;
}

AddStickslabel {
	height: 2em;
	line-height: 2em;
	grid-area: AddStickslabel;
    font-size: 2vh;
	border-style: none;
}

SticksDecreaseRapidButton {
	height: 1em;
	line-height: 1em;
	grid-area: SticksDecreaseRapidButton;
    font-size: 2vh;
	text-align: center;
	vertical-align: center;
	color: white;
}

SticksDecreaseSlowButton {
	height: 1em;
	line-height: 1em;
	grid-area: SticksDecreaseSlowButton;
    font-size: 2vh;
	text-align: center;
	vertical-align: center;
	color: white;
}

/* partial window canvas */
canvas {
	grid-area:canvas;
	height: 100%;
	width: 100%;
}